@tailwind base;
@tailwind components;
@tailwind utilities;

#p5-container {
  width: 100%;
  padding: 0;
  overflow: visible;
}

.p5Canvas {
  display: block !important;
  position: relative !important;
  margin: 0 !important;
  border: none !important;
}
